In [101]:
import pandas as pd
import numpy as np


df_time = pd.DataFrame({'B': [0, 1, 2, 2, 4]},
                       index=[pd.Timestamp('20130101 09:00:00'),
                              pd.Timestamp('20130101 09:00:02'),
                              pd.Timestamp('20130101 09:00:03'),
                              pd.Timestamp('20130101 09:00:05'),
                              pd.Timestamp('20130101 09:00:06')])

In [102]:
df_time = df_time.reset_index()

In [103]:
df_time['C'] = df_time['B'] ** 2
df_time

                index  B   C
0 2013-01-01 09:00:00  0   0
1 2013-01-01 09:00:02  1   1
2 2013-01-01 09:00:03  2   4
3 2013-01-01 09:00:05  2   4
4 2013-01-01 09:00:06  4  16

In [104]:
def rolling(window_df, df):
    data = df.loc[window_df.index]
    if data['C'].iloc[1] == data['C'].iloc[0]:
        return 1000
    return data['C'].sum()

In [105]:
df_time['B'].rolling(window=2).apply(rolling, args=(df_time,))

0       NaN
1       1.0
2       5.0
3    1000.0
4      20.0
Name: B, dtype: float64

In [106]:
rolled = df_time.rolling(window=2)

In [116]:
index = []
values = []
for r in rolled:
    index.append(r.index[-1])
    if len(r) < 2:
        values.append(np.nan)
    else:
        if r['B'].is_unique:
            # 各不相同
            # 计算收益率
            values.append(1000)
        else:
            values.append(0)

In [117]:
index, values

([0, 1, 2, 3, 4], [nan, 1000, 1000, 0, 1000])

In [119]:
r['B']

3    2
4    4
Name: B, dtype: int64